name: Build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'npm'

      - name: Install deps
        run: npm ci
        
      - name: Build
        run: npm run build
        
      - name: Test
        run: npm run test
